.brand {
    font-size: 25px;
}

nav {
    color:aliceblue;
    background: #353a40;
    padding: .25em;
    overflow: hidden;
    a {
        text-decoration: none;
        color: aliceblue;
    }
}

.nav-container {
    display: inline;
}

.menu-toggle {
    display: none;
    float: right;
}
.menu {
    margin-left: 1em;
}

.menu-item {
    margin-left: 1em;
    display: inline;
    padding: .5em;
    border-radius: 10%;
}
.menu-item:hover {
    background: #21252a;
}

@media screen and (max-width: 900px) {
    .menu-toggle {
        display: inline
    }

    .menu {
        display: none;
    }
    .active {
        display: block;
    }
    .menu-item {
        display: block;
        text-align: center;
    }
  }